.div_recommend {background-color:#1d263a;}
.div_recommend:after {display:block;visibility:hidden;clear:both;content:'';}
.title01 {position:relative;border-bottom:solid 2px #0a1428;padding:7px 10px;}
.cont01 {padding:7px 10px;}
.cont01 .rec_item {display:inline-block;width:175px;border:solid 2px #545b6c;vertical-align:top;color:#c1c4d2;padding:5px;margin-bottom:5px;}
.cont01 .rec_item p {font-size:1.2em;}
.cont01 .rec_item strong {display:block;font-size:1em;color:white;font-weight:500;}
.cont01 .rec_item span {display:block;font-size:0.7em;}
.btn_more {position:absolute;top:8px;right:10px;font-size:0.8em;}

.div_detail {background-color:#1d263a;margin-top:10px;}
.div_detail:after {display:block;visibility:hidden;clear:both;content:'';}
.div_detail .title01 {position:relative;}
.div_detail .title01 .title_mold {float:right;font-size:0.7em;margin-top:6px;margin-right:20px;}
.div_detail .title01 .title_date {float:right;font-size:0.7em;margin-top:6px;}
.div_detail .title01 .btn_graph {z-index:10;position:absolute;top:48px;right:15px;font-size:0.7em;}

.ui-widget.ui-widget-content {
    border: none;
}
.ui-tabs .ui-tabs-panel {
    padding: 8px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 4px 15px;
}
.ui-helper-reset {
    font-size: 0.9em;
}
.ui-widget-header {
    background: none;
    font-weight: normal;
}
.ui-widget {
    font-size: inherit;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
    border-bottom: solid 1px #626262;
    border-radius: unset;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: #f58400;
}


.chart_cont {display:block;min-height:350px;}
.chart_cont:after {display:block;visibility:hidden;clear:both;content:'';}

.div_set_value {min-height:350px;}
.div_set_value ul{padding:2px 2px 10px;}
.div_set_value ul:after {display:block;visibility:hidden;clear:both;content:'';}
.div_set_value ul li{width:22%;float:left;margin:7px;}
.div_set_value ul li .set_title{font-size:0.8em;}


.div_wrapper {padding-top:20px;}
.div_wrapper:after {display:block;visibility:hidden;clear:both;content:'';}
.div_wrapper > div {border:solid 1px #5b5b5d;border-radius:5px;min-height:200px;padding:10px;}
.div_wrapper > div > div.div_info_body {margin-bottom:15px;/*max-height:360px;overflow-y:auto;*/overflow-x: hidden;}
.div_left {float:left;width:49.5%;}
.div_right {float:right;width:49.5%;}

.div_left_02 {float:left;width:48%; font-size:0.9em;color:0e99e1;}
.div_right_02 {float:right;width:48%;font-size:0.9em}
.info_box {margin-bottom:20px;}

.table_12 td {width:7.69%;}
.table_td_date tr td:nth-child(1)
,.table_td_date tr td:nth-child(7) {width:5%;border-left:1px solid #5b5b5d;border-right:1px solid #5b5b5d}

.item_th td {background:#d5e2e5 !important;}

.table01 {width:100%;border-collapse: collapse;border-spacing: 0;}
.table01 th {background:#404b4e;border: 1px solid #637276;color:#ffffff;height:30px;}
.table01 td {border:solid 1px #5b5b5d;padding:3px;}
.table01 tr:nth-child(2n) td {background:#313133;}
